{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": ["last 2 versions", "not <2%", "not dead"],
        "useBuiltIns": "entry",
        "corejs": "3.0.0"
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ]
}
